body {
  margin: 0 auto;
  width: 80%;
  margin-top: 10px;
  background: #E5E5E5;
  font-family: 'Lato', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Rubik', sans-serif;
  display: grid;
}

.Organismo {
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Moleculas {
  background: #EB5757;
  display: flex;
  padding: 10px 10px;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 10px;
}

.Card-top-1 {
  display: flex;
  align-items: center;
}

.Card-top-2 {
  display: flex;
  align-items: center;
}

.Cardt-3 {
  margin-right: 10px;
}

.Cardt-2 {
  margin-left: 5px;
}

.Cardt-1 {
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Moleculas2 {
  padding: 0 10px;
}

.Cardb-1 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #DBDBDB;
  padding: 10px 0;
  color: #888888;
}

.Moleculas2 p {
  font-size: 10px;
}

.Moleculas2 {
  padding-top: 10px;
}

.Cardb-1 {
  font-size: 10px;
}

.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.r {
  background: #EB5757;
}

.v {
  background: #9B51E0;
}

.g {
  background: #BDBDBD;
}